* {
	margin: 0;
}

h1 {
	font-family: "Lato", sans-serif;
}

.App {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

body {
	background-color: #303030 !important;
	color: white;
}
.app__header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	justify-content: space-between;
}

.app__header > h1 {
	color: #fc3c3c;
}

.app__left {
	flex: 0.9;
}

.app__right {
	display: flex;
	flex-direction: column;
}

.app__right .MuiCardContent-root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.app__graph {
	flex-grow: 1;
}

.app__graphTitle {
	margin-top: 10px;
	margin-bottom: 10px;
}

.app__stats {
	display: flex;
	justify-content: space-between;
}

.footer {
	position: absolute;
	justify-content: center;
}

@media (max-width: 990px) {
	.App {
		flex-direction: column;
	}
}
